<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>マッチ一覧</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- totoSmash!のCSS読み込み -->
    <link href="../stylesheets/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../javascripts/bootstrap.min.js"></script>
  </head>
  <body>

<%- include('menu', {pageTitle:'マッチ一覧', pageUrl:'/TS/TSB001V02'}) %>

<div class="container">

    <p class="text-right"><%= locals.inputId %> さんの保有ポイント：<span id="myPoints"></span></p>
<% /*
  <div class="panel table-responsive">
    <div class="table-responsive">
      <table class="table">
        <!-- 1試合目 -->
        <tr>
          <th class="match-th">ATP St Petersburg</th>
          <th class="match-th text-center">1</th>
          <th class="match-th text-center">2</th>
        </tr>
        <tr>
          <td class="bg-success">Damir Dzumhur</td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Damir Dzumhur">BET</button></td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Liam Broady">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success">Liam Broady</td>
        </tr>
        
        <!-- 2試合目 -->
        <tr>
          <th class="match-th">WTA B-Con Plaza</th>
          <th class="match-th text-center">1</th>
          <th class="match-th text-center">2</th>
        </tr>
        <tr>
          <td class="bg-success">Kei Nishikori</td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Kei Nishikori">BET</button></td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Yuichi Sugita">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success">Yuichi Sugita</td>
        </tr>

        <!-- 3試合目 -->
        <tr>
          <th class="match-th">WTA Guangzhou</th>
          <th class="match-th text-center">1</th>
          <th class="match-th text-center">2</th>
        </tr>
        <tr>
          <td class="bg-success">Yanina Wickmayer</td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Damir Dzumhur">BET</button></td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Liam Broady">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success">Aleksandra Krunic</td>
        </tr>

        <!-- 4試合目 -->
        <tr>
          <th class="match-th">WTA Tokyo</th>
          <th class="match-th text-center">1</th>
          <th class="match-th text-center">2</th>
        </tr>
        <tr>
          <td class="bg-success">Caroline Wozniacki</td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Damir Dzumhur">BET</button></td>
          <td rowspan="2" class="bg-success text-center" style="vertical-align:middle;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Liam Broady">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success">Dominika Cibulkova</td>
        </tr>

      </table>
    </div><!-- table-responsive -->
  </div>
 */ %>

  <div class="panel table-responsive">
    <div class="table-responsive">
      <table class="table">
        <!-- 1試合目 -->
        <tr>
          <th colspan="2" class="match-th">ATP St Petersburg</th>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Damir Dzumhur</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Liam Broady">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Liam Broady</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Damir Dzumhur">BET</button></td>
        </tr>

        <!-- 2試合目 -->
        <tr>
          <th colspan="2" class="match-th">WTA B-Con Plaza</th>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Kei Nishikori</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Kei Nishikori">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Yuichi Sugita</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Yuichi Sugita">BET</button></td>
        </tr>

        <!-- 3試合目 -->
        <tr>
          <th colspan="2" class="match-th">WTA Guangzhou</th>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Yanina Wickmayer</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Liam Broady">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Aleksandra Krunic</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Damir Dzumhur">BET</button></td>
        </tr>

        <!-- 4試合目 -->
        <tr>
          <th colspan="2" class="match-th">WTA Tokyo</th>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Caroline Wozniacki</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player2" data-player="Liam Broady">BET</button></td>
        </tr>
        <tr>
          <td class="bg-success" style="vertical-align:middle;">Dominika Cibulkova</td>
          <td class="bg-success text-center" style="vertical-align:middle; padding: 3px 1px;"><button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-bet" data-whatever="player1" data-player="Damir Dzumhur">BET</button></td>
        </tr>

      </table>
    </div><!-- table-responsive -->
  </div>

            <!-- 2.モーダルの配置 -->
            <div class="modal" id="modal-bet" tabindex="-1">
                <div class="modal-dialog modal-dialog-center">
                    <!-- 3.モーダルのコンテンツ -->
                    <div class="modal-content">
                        <!-- 4.モーダルのヘッダ -->
                        <!--
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modal-label"></h4>
                        </div>
                        -->
                        <!-- 5.モーダルのボディ -->
                        <div class="modal-body">
                            <span id="bet_player" class="text-primary"></span><br>
                            Match Winner<br>
                            Kei Nishikori vs Yuichi Sugita<br>
                            100 ポイント
                        </div>
                        <!-- 6.モーダルのフッタ -->
                        <div class="modal-footer" style="text-align:center;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="bet_yes">BET</button>
                        </div>
                    </div>
                </div>
            </div>


         <!-- hidden -->
         <div id="hiddendiv">
           <form:form id="hiddenform" action="/TS/TSB001V02">
             <input id="bet_player_id" name="bet_player_id" type="hidden" value=""/>
             <input id="bet_usre_id" name="bet_user_id" type="hidden" value="<%= locals.inputId %>"/>
           </form:form>
         </div>

<script type="text/javascript">
$(document).ready(function(){
  $('#modal-bet').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); //モーダルを呼び出すときに使われたボタンを取得
    var player = button.data('player'); //data-player の値を取得

    var modal = $(this);  //モーダルを取得
    var modaltxt = modal.find('#bet_player'); //spanタグに表示
    $(modaltxt).text(player);
    
    var bet_player_id = button.data('whatever');
    $("#bet_player_id").attr("value",bet_player_id);
  });

  $('#bet_yes').on('click',function(){
    $('#hiddenform').submit();
  })

});
  </script>




<footer></footer>

</body>
</html>
