<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>個人設定</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- totoSmash!のCSS読み込み -->
    <link href="../stylesheets/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../javascripts/bootstrap.min.js"></script>
  </head>
  <body>

<%- include('menu', {pageTitle:'個人設定', pageUrl:'/TS/TSP001V01'}) %>

<div class="container">

個人設定画面

</div>




<footer></footer>

</body>
</html>
