<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BET結果確認</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- totoSmash!のCSS読み込み -->
    <link href="../stylesheets/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../javascripts/bootstrap.min.js"></script>
  </head>
  <body>

<%- include('menu', {pageTitle:'BET結果確認', pageUrl:'/TS/TSR001V01'}) %>

<div class="container">

    <p class="text-right"><%= locals.inputId %> さんの保有ポイント：<span id="myPoints"><%= locals.myPoints %></span></p>

  <div class="panel table-responsive">
    <div>
      <table class="table">
        <tr>
          <th class="match-th col-xs-5">BET結果一覧</th>
          <th class="match-th col-xs-3">BET日時</th>
          <th class="match-th col-xs-2 text-right">BETポイント</th>
          <th class="match-th col-xs-2 text-right">獲得ポイント</th>
        </tr>

<!--for mock
        <tr>
          <td class="match-td"><a href="TSR001V02" style="color:#01a108; font-weight:bold;">Kei Nishikori</a></td>
          <td class="match-td">2017/11/17 10:00:24</td>
          <td class="match-td text-right">100</td>
          <td class="match-td text-right">150</td>
        </tr>
        <tr>
          <td class="match-td"><a href="TSR001V02" style="color:#01a108; font-weight:bold;">Andrey Rublev</a></td>
          <td class="match-td">2017/11/15 12:45:23</td>
          <td class="match-td text-right">100</td>
          <td class="match-td text-right">0</td>
        </tr>
        <tr>
          <td class="match-td"><a href="TSR001V02" style="color:#01a108; font-weight:bold;">Taylor Fritz</a></td>
          <td class="match-td">2017/11/12 14:15:31</td>
          <td class="match-td text-right">100</td>
          <td class="match-td text-right">0</td>
        </tr>
-->
<!-- for iSUC Demo べたがき!! -->
        <tr>
<% if (locals.myPoints == '200') { %>
          <td class="match-td"><a href="TSR001V02" style="color:#01a108; font-weight:bold;">Nishikori</a></td>
          <td class="match-td">2017/11/17 10:00:24</td>
          <td class="match-td text-right">100</td>
          <td class="match-td text-right">-</td>
<% } else if (locals.myPoints == '350') { %>
          <td class="match-td"><a href="TSR001V02" style="color:#01a108; font-weight:bold;">Nishikori</a></td>
          <td class="match-td">2017/11/17 10:00:24</td>
          <td class="match-td text-right">100</td>
          <td class="match-td text-right">150</td>
<% } else { %>
          <td class="match-td"><a href="TSR001V02" style="color:#01a108; font-weight:bold;"></a></td>
          <td class="match-td"></td>
          <td class="match-td text-right"></td>
          <td class="match-td text-right"></td>
<% } %>
        </tr>
<!-- -->
      </table>
    </div><!-- table-responsive -->
  </div>


</div>

  
<footer></footer>

  </body>
</html>
