<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>トップページ</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- totoSmash!のCSS読み込み -->
    <link href="../stylesheets/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../javascripts/bootstrap.min.js"></script>

  </head>
  <body>

<header></header>

<div class="container">

    <p class="text-right"><span class="beppu_name"><%= locals.inputId %></span> さんの保有ポイント：<span id="myPoints" class="beppu_point"><%= locals.myPoints %></span></p>
    <p class="text-right" style="position:relative;">BET中：
    <img src="../images/sport_tennis_ball.png" width="32" height="32">
    <a href="" style="position:absolute;right:11px;top:2px;color:green;">
      <% if (locals.myPoints == '200') { %>
        1
      <% } else { %>
        0
      <% } %>
    </a></p>
    <p class="text-right" style="position:relative;">結果未確認：
    <img src="../images/sport_tennis_ball.png" width="32" height="32">
    <a href="" style="position:absolute;right:11px;top:2px;color:green;">0</a></p>
    <form>

        <div class="btn-group btn-group-justified" role="group">
        <a href="/TS/TSB001V02" class="btn btn-info btn-lg">ＢＥＴ</a>
        <a href="/TS/TSR001V01" class="btn btn-warning btn-lg">結果確認</a>
        </div>

        <div class="btn-group btn-group-justified" role="group">
        <a href="/TS/TSE001V01" class="btn btn-primary btn-lg">ポイント購入</a>
        <a href="/TS/TSU001V01" class="btn btn-success btn-lg">ポイント使用</a>
        </div>

        <div class="btn-group btn-group-justified" role="group">
        <a href="/TS/TSP001V01" class="btn btn-default btn-lg">個人設定</a>
        </div>
        <a href="/" class="btn btn-link">ログアウト</a>
    </form>
</div>

<footer></footer>

  </body>
</html>
