<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ポイント使用</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- totoSmash!のCSS読み込み -->
    <link href="../stylesheets/style.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="../libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="../javascripts/bootstrap.min.js"></script>
  </head>
  <body>

<%- include('menu', {pageTitle:'ポイント使用', pageUrl:'/TS/TSU001V01'}) %>

<div class="container">


    <p class="text-right" style="color:black;"><span class="beppu_name"><%= locals.inputId %></span> さんの保有ポイント：<span class="beppu_point"><%= locals.myPoints %></span></p>

  <div class="panel table-responsive">
    <div>
      <table class="table">
        <tr>
          <td class="match-td col-xs-4 text-center" rowspan="2"><img src="../images/icon1.gif" class="point-use-logo img-thumbnai" /></td>
          <td class="match-td col-xs-8"><a href="" style="font-size:120%; color:#01a108; font-weight:bold;">ユーザへ贈る</a></td>
        </tr>
        <tr>
          <td class="match-td" style="font-size:0.8em;">ポイントを他ユーザへ送り、感謝を得ます</td>
        </tr>

        <tr/>
          <td class="match-td col-xs-4 text-center" rowspan="2"><img src="../images/icon2.gif" class="point-use-logo img-thumbnai" /></td>
          <td class="match-td col-xs-8"><a href="" style="font-size:120%; color:#01a108; font-weight:bold;">ポイントと交換</a></td>
        </tr>
        <tr>
          <td class="match-td" style="font-size:0.8em;">ポイントを他サービスポイントへ交換します<br/>
<br/>◎対応サービス
<ul>
<li>薬天スーパーポイント
<li>TATSUYAポイント
<li>pantaポイント
</ul>
</td>
        </tr>

        <tr>
          <td class="match-td col-xs-4 text-center" rowspan="2"><img src="../images/icon3.gif" class="point-use-logo img-thumbnai" /></td>
          <td class="match-td col-xs-8"><a href="" style="font-size:120%; color:#01a108; font-weight:bold;">仮想通貨と交換</a></td>
        </tr>
        <tr>
          <td class="match-td" style="font-size:0.8em;">ポイントを連携する仮想コインと交換します<br/>
<br/>◎対応コイン
<ul>
<li>ヒットコイン
<li>リッブル
</ul>
</td>
        </tr>

        <tr>
          <td class="match-td col-xs-4 text-center" rowspan="2"><img src="../images/icon4.gif" class="point-use-logo img-thumbnai" /></td>
          <td class="match-td col-xs-8"><a href="" style="font-size:120%; color:#01a108; font-weight:bold;">慈善団体への寄付</a></td>
        </tr>
        <tr>
          <td class="match-td" style="font-size:0.8em;">スポンサーを通じ慈善団体へ寄付します</td>
        </tr>

        <tr>
          <td class="match-td col-xs-4 text-center" rowspan="2"><img src="../images/icon5.gif" class="point-use-logo img-thumbnai" /></td>
          <td class="match-td col-xs-8"><a href="" style="font-size:120%; color:#01a108; font-weight:bold;">プレゼントと交換</a></td>
        </tr>
        <tr>
          <td class="match-td" style="font-size:0.8em;">totoSmash! オリジナルグッズと交換します</td>
        </tr>

        <tr>
          <td class="match-td col-xs-4 text-center" rowspan="2"><img src="../images/icon6.png" class="point-use-logo img-thumbnai" /></td>
          <td class="match-td col-xs-8"><a href="" style="font-size:120%; color:#01a108; font-weight:bold;">カボスと交換</a></td>
        </tr>
        <tr>
          <td class="match-td" style="font-size:0.8em;"><p>カボスは料理の名脇役、独特の豊かな風味で、素材の持つ風味を損なうことなく、料理の味をぐんと引き立てます。オーソドックスにしぼったり、皮をあしらえたり、スライスで香りと彩りを添えたりと、活躍するシーンはさまざま。</p>
<p>また、和・洋・中とどんな料理との相性も抜群。気軽に利用できて、おいしさ、楽しさが広げられます。</p>
<p>さらに、ビタミンCたっぷりのカボスは天然の美容剤。料理で使ったあとのカボスをお風呂に浮かべてカボス風呂というのはいかが。カボスの果皮に含まれる香りのエッセンスの働きで、お肌もつやつやになります。</p>
</td>
        </tr>

      </table>
    </div><!-- table-responsive -->
  </div>




</div>


<footer></footer>

</body>
</html>
